@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
*{
	box-sizing: border-box;
}

body{
	margin:0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #263238;
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

body > section:nth-child(3){
	flex-grow:2;
}

/*HEADER*/

.header{
	position:relative;
	background:#FFFFFE;
	margin-bottom:-50px;
	border-radius:0 0 0 50px;
	z-index:10;
	padding-bottom:20px;
}

.nav{
	position:relative;
	display:flex;
	justify-content:space-between;
	width:100%;
	color:gray;
	font-weight:bold;
}

.nav div{
	position:relative;
	cursor:pointer;
	margin:10px 10px;
}

.title{
	position:relative;
	margin-top:10px;
	margin-left:25px;
	font-weight:bolder;
}

/*FORM*/

.input{
	position:relative;
	background-image: linear-gradient(to right, #2baec8, #790954);
	padding-top:80px;
	margin-bottom:-50px;
	border-radius:0 0 0 50px;
	z-index:8;
	display:flex;
	align-items:center;
}

form{
	position:relative;
	display:flex;
	flex-wrap:wrap;
}

.inputcontent{
	position:relative;
	margin:0 20px;
	color:#fff;
	margin-bottom:20px;
}

input{
	position:relative;
	background:none;
	border:none;
}

input:focus{
	font-family:'Open Sans', sans-serif;
}

::placeholder{
	opacity:0.8;
	color:#fff;
}

/*SUMMARY*/

.summary{
	position:relative;
	background:#1A0000;
	color:#fff;
	padding-top:100px;
	z-index:6;
	padding-bottom:40px;
	border-radius:0 0 0 50px;
	margin-bottom:-50px;
}

.summary div{
	position:relative;
	margin:0 7px;
	margin-bottom:10px;
}

.summarycontent{
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
}

}

.product{
	position:relative;
	display:flex;
	justify-content:space-between;
	width:100%;
}

.border-bottom--solid{
	border-bottom:1px solid;
	border-color:gray;
}

.font-size--30{
	font-size:30px;
}

/*CTA*/

.cta{
	position:relative;
	background-image: linear-gradient(to right, #2baec8, #790954);
	color:#fff;
	padding-top:80px;
	padding-bottom:30px;
	z-index:4;
	display:flex;
	justify-content:center;
	align-items:center;
}
